APP_URL=https://YOUR_PROJECT.vercel.app
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
SESSION_SECRET=REPLACE_WITH_32_OR_MORE_RANDOM_BYTES
INITIAL_ADMIN_KAKAO_ID=
APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT/exec
APPS_SCRIPT_SECRET=REPLACE_WITH_32_OR_MORE_RANDOM_BYTES
